<% layout("layouts/boilerplate") %>

    <body>
        <div class="row offset-2 mt-5">
            <div class="col-8">
                <h3>Edit Listing</h3>
                <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate
                    class="needs-validation">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title:</label>
                        <input type="text" name="title" id="title" class="form-control" value="<%= listing.title %>"
                            required>
                        <div class="invalid-feedback">Title is required.</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <textarea name="description" id="description" class="form-control"
                            required><%= listing.description %></textarea>
                        <div class="invalid-feedback">Description is required.</div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image URL:</label>
                        <input type="text" name="image" id="image" class="form-control" value="<%= listing.image %>">
                        <!-- <div class="invalid-feedback">Image URL is required.</div> -->
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price:</label>
                        <input type="number" name="price" id="price" class="form-control" value="<%= listing.price %>"
                            min="0" required>
                        <div class="invalid-feedback">Price must be a positive number.</div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location:</label>
                        <input type="text" name="location" id="location" class="form-control"
                            value="<%= listing.location %>" required>
                        <div class="invalid-feedback">Location is required.</div>
                    </div>
                    <div class="mb-3">
                        <label for="country" class="form-label">Country:</label>
                        <input type="text" name="country" id="country" class="form-control"
                            value="<%= listing.country %>" required>
                        <div class="invalid-feedback">Country is required.</div>
                    </div>
                    <br>
                    <div class="edit-link">
                        <button type="submit" class="btn btn-dark add-btn">Update Listing</button>
                        <a class="btn btn-dark" href="/listings/<%= listing._id %>">Cancel</a>
                    </div>
                    <br>
                </form>

            </div>
        </div>

    </body>